<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Booklist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Edit Book</h1>
	<div>
		<form th:object="${book}" th:action="@{../save}" action="#" method="post">
		  	<label for="id"></label>
		  	<input type="hidden" id="id" th:field="*{id}" readonly="readonly" />
		  	<label for="otsikko">Title</label>
			<input type="text" id="otsikko" th:field="*{title}" />
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="kirjailija">Author</label>
			<input type="text" id="kirjailija" th:field="*{author}" />
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="vuosi">Year</label>
			<input type="text" th:field="*{year}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="isbn">ISBN</label>
			<input type="text" id="isbn" th:field="*{isbn}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="hinta">Price</label>
			<input type="text" id="hinta" th:field="*{price}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="submit" value="Save"></input>
		</form>
	</div>
</body>
</html>